/*
* Typography
*/

@import url('//fonts.googleapis.com/css?family=Noto+Sans');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$base-font: 'Noto Sans', sans-serif;

body {
    color: $dark-gray;
    font-size: 18px;
    font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
ol,
textarea,
input[type] {
    font-family: $base-font;
}

h1 {
    font-size: 2.25em;
    line-height: 2.25em;
}

h2 {
    font-size: 2em;
    line-height: 2em;
}

h3 {
    font-size: 1.75em;
    line-height: 1.75em;
}

h4 {
    font-size: 1.5em;
    line-height: 1.75em;
}

a {
    color: $gold;
    text-decoration: none;

    &:hover {
        color: $blue;
        transition: 0.4s color ease;
    }
}
