/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
* Mixins
*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes header-slide-left {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes header-slide-left {
  0% {
    opacity: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes landing-fade-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes landing-fade-slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes about-me-slide-down {
  0% {
    margin-top: -25vh;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes about-me-slide-down {
  0% {
    margin-top: -25vh;
  }
  100% {
    margin-top: 0;
  }
}

/*
* Colors
*/
/* Primary */
/* Accents */
/*
* Settings
*/
/* Max width */
/* Breakpoints */
/*
* Typography
*/
body {
  color: #333333;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li,
ol,
textarea,
input[type] {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 2.25em;
  line-height: 2.25em;
}

h2 {
  font-size: 2em;
  line-height: 2em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.75em;
}

h4 {
  font-size: 1.5em;
  line-height: 1.75em;
}

p {
  line-height: 1.5em;
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:hover {
  color: #55accc;
  -webkit-transition: 0.4s color ease;
  transition: 0.4s color ease;
}

.button {
  border: 3px solid #000000;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em 0.75em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-blue {
  border: 3px solid #55accc;
  color: #55accc;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em 0.75em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-blue:hover {
  background-color: #55accc;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-white {
  border: 3px solid #eeeeee;
  color: #eeeeee;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5em 0.75em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-white:hover {
  background-color: #eeeeee;
  color: #000000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*
* General Body Styles
*/
#maincontent {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1em;
}

/* 
* Header
*/
#header {
  background-color: #333333;
  -webkit-box-shadow: 0 0px 20px black;
          box-shadow: 0 0px 20px black;
  border-bottom: 2px solid goldenrod;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#header.animate {
  -webkit-animation: header-slide-left 1s ease 1s forwards;
          animation: header-slide-left 1s ease 1s forwards;
  opacity: 0;
}

#header .header-container {
  margin: 0 auto;
  max-width: 1440px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

#header .header-container .title {
  border-bottom: 5px solid goldenrod;
  border-top: 5px solid goldenrod;
  color: #eeeeee;
  font-weight: bold;
  line-height: normal;
  text-align: center;
}

#header .header-container .title.resized {
  border-width: 2px;
  font-size: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .header-container .title a {
  color: #eeeeee;
}

#header .menu li {
  display: inline-block;
}

#header .menu li a {
  color: #eeeeee;
  font-weight: bold;
}

#header .menu li a:hover {
  color: #55accc;
}

#header .menu li:not(:first-child) a {
  padding-left: 0.5em;
}

#header .menu li:not(:last-child) a {
  padding-right: 0.5em;
}

#header .desktop-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  #header .desktop-menu {
    display: block;
  }
}

#header .mobile-toggle {
  color: goldenrod;
  font-size: 2em;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#header .mobile-toggle:hover {
  color: #55accc;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media screen and (min-width: 768px) {
  #header .mobile-toggle {
    display: none;
  }
}

#header #mobile-nav {
  display: none;
  padding: 1em;
}

#header #mobile-nav li {
  display: block;
}

#header #mobile-nav a {
  display: table;
  padding: 0.5em 0;
}

/* 
* Footer
*/
#footer {
  background-color: #333333;
  -webkit-box-shadow: inset 0 0 30px #000000;
          box-shadow: inset 0 0 30px #000000;
  padding: 2em 0;
  width: 100%;
}

#footer .footer-container {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #262626;
  -webkit-box-shadow: 0 0 30px #000000;
          box-shadow: 0 0 30px #000000;
  padding: 2em 1em;
  text-align: center;
}

#footer .title {
  border-bottom: 5px solid goldenrod;
  border-top: 5px solid goldenrod;
  display: table;
  font-weight: bold;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
}

#footer .title a {
  color: #eeeeee;
}

#footer p {
  color: #eeeeee;
  margin: 1em 0;
}

#footer .icon-wrapper .icon-container {
  background-color: #55accc;
  border-radius: 50%;
  display: inline-block;
  height: 65px;
  margin: 0 1em;
  -webkit-transition: 0.4s background-color ease;
  transition: 0.4s background-color ease;
  width: 65px;
}

#footer .icon-wrapper .icon-container:hover {
  background-color: goldenrod;
  -webkit-transition: 0.4s background-color ease;
  transition: 0.4s background-color ease;
}

#footer .icon-wrapper .icon-container i {
  color: #000000;
  font-size: 3em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.homepage .homepage-landing {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  -webkit-animation: fade-in 1s ease;
          animation: fade-in 1s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/kathryn.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/kathryn.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/kathryn.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: table;
  height: 100vh;
  overflow: hidden;
}

.homepage .homepage-landing .landing-title {
  -webkit-animation: landing-fade-slide 1s ease 1s forwards;
          animation: landing-fade-slide 1s ease 1s forwards;
  color: #eeeeee;
  display: table-cell;
  font-size: 8vw;
  font-weight: bold;
  opacity: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .homepage .homepage-landing .landing-title {
    font-size: 6vw;
  }
}

.homepage .about-me-wrapper {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  background-color: #55accc;
  padding: 2em 0;
}

.homepage .about-me-wrapper .about-me-container {
  margin: 0 auto;
  max-width: 1440px;
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.homepage .about-me-wrapper .about-me-container:after {
  clear: both;
  content: '';
  display: table;
}

.homepage .about-me-wrapper .about-me-container.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.homepage .about-me-wrapper .about-me-container h2 {
  color: #eeeeee;
  border-bottom: 5px solid #333333;
  font-size: 3em;
  font-weight: bold;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.homepage .about-me-wrapper .about-me-container .content-wrapper {
  display: inline-block;
  float: left;
  margin: 2em 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .homepage .about-me-wrapper .about-me-container .content-wrapper {
    width: 33.3%;
  }
}

.homepage .about-me-wrapper .about-me-container .icon-container {
  background-color: #333333;
  border-radius: 50%;
  display: table;
  height: 110px;
  margin: 0 auto;
  text-align: center;
  width: 110px;
}

.homepage .about-me-wrapper .about-me-container .icon-container i {
  color: #eeeeee;
  display: table-cell;
  font-size: 3em;
  vertical-align: middle;
}

.homepage .about-me-wrapper .about-me-container .icon-container .fa-mobile {
  font-size: 5em;
}

.homepage .about-me-wrapper .about-me-container .text {
  color: #eeeeee;
  padding: 0 1em;
}

.homepage .about-me-wrapper .about-me-container .text h3 {
  margin: 0.33em 0;
}

.homepage .about-me-wrapper .about-me-container .text p {
  text-align: left;
}

.homepage .tools-container {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  background-color: #ffffff;
  opacity: 0;
  padding: 2em 0;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.homepage .tools-container.show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.homepage .tools-container h2 {
  margin: 0 auto;
  max-width: 1440px;
  border-bottom: 5px solid #55accc;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
  max-width: 600px;
  text-align: center;
}

.homepage .tools-container .tool-images {
  padding: 0 1em;
}

.homepage .tools-container .tool-images .image-container {
  display: inline-block;
  margin: 2em 0;
  text-align: center;
  width: 49%;
}

@media screen and (min-width: 768px) {
  .homepage .tools-container .tool-images .image-container {
    width: 24%;
  }
}

.homepage .tools-container .tool-images .image-container img {
  height: auto;
  max-height: 250px;
  max-width: 200px;
  position: relative;
  vertical-align: middle;
}

.blog, .archive {
  margin: 2em 0;
}

@media screen and (min-width: 768px) {
  .blog:after, .archive:after {
    display: table;
    content: '';
    clear: both;
  }
}

.blog .banner, .archive .banner {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/kathryn-close.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/kathryn-close.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/kathryn-close.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: table;
  height: 40vh;
  overflow: hidden;
}

.blog .banner .banner-title, .archive .banner .banner-title {
  -webkit-animation: fade-in 1s ease 1s forwards;
          animation: fade-in 1s ease 1s forwards;
  color: #eeeeee;
  display: table-cell;
  font-size: 12vw;
  opacity: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .blog .banner .banner-title, .archive .banner .banner-title {
    font-size: 6vw;
  }
}

@media screen and (min-width: 768px) {
  .blog .posts-container, .archive .posts-container {
    margin: 0 -1em;
    width: 73%;
  }
}

.blog .posts-container .post, .archive .posts-container .post {
  margin: 2em 0;
}

@media screen and (min-width: 768px) {
  .blog .posts-container .post, .archive .posts-container .post {
    display: inline-block;
    float: left;
    position: relative;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .blog .posts-container .post .post-content, .archive .posts-container .post .post-content {
    height: 100%;
    padding: 0 1em;
  }
}

@media screen and (min-width: 768px) {
  .blog .posts-container .post .post-image, .archive .posts-container .post .post-image {
    display: block;
  }
}

.blog .posts-container .post .post-image img, .archive .posts-container .post .post-image img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .blog .posts-container .post .post-text, .archive .posts-container .post .post-text {
    border-bottom: 1px solid #cccccc;
    display: block;
    padding-bottom: 3em;
    position: relative;
  }
}

.blog .posts-container .post .post-text .title, .archive .posts-container .post .post-text .title {
  font-size: 2em;
  font-weight: bold;
  line-height: normal;
  margin: 0.25em 0;
}

.blog .posts-container .post .post-text .title a, .archive .posts-container .post .post-text .title a {
  color: #333333;
}

.blog .posts-container .post .post-text .title a:hover, .archive .posts-container .post .post-text .title a:hover {
  color: #55accc;
}

.blog .posts-container .post .post-text .meta, .archive .posts-container .post .post-text .meta {
  font-size: 0.75em;
  margin-bottom: 1em;
}

.blog .posts-container .post .post-text .meta .divider, .archive .posts-container .post .post-text .meta .divider {
  margin: 0 0.5em;
}

.blog .posts-container .post .post-text .meta .post-categories, .archive .posts-container .post .post-text .meta .post-categories {
  display: inline-block;
}

.blog .posts-container .post .post-text .meta .post-categories li, .archive .posts-container .post .post-text .meta .post-categories li {
  display: inline;
  padding: 0 0.15em;
}

.blog .posts-container .post .post-text .content, .archive .posts-container .post .post-text .content {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .blog .posts-container .post .button-blue, .archive .posts-container .post .button-blue {
    bottom: 0;
    margin-bottom: 1em;
    position: absolute;
  }
}

.archive .banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/reef.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/reef.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/reef.jpg");
  background-position: bottom;
}

.single-post {
  margin-top: 4em;
}

.single-post #sidebar {
  margin-top: 2em;
}

.single-post .post {
  padding: 2em 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .single-post .post {
    width: 73%;
  }
}

.single-post .post img {
  height: auto;
  max-width: 100%;
}

.single-post .post .title {
  font-weight: bold;
}

.single-post .post .meta .post-categories {
  display: inline-block;
}

.single-post .post .meta .post-categories li {
  display: inline;
}

.single-post .post .meta .post-categories li a {
  padding: 0 0.15em;
}

.single-post .post .post-content {
  border-top: 1px solid #cccccc;
  margin-top: 1em;
  padding-top: 1em;
}

.single-post .blog-more-wrapper {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  background-color: #262626;
}

.single-post .blog-more-wrapper .blog-more {
  margin: 0 auto;
  max-width: 1440px;
  padding: 2em 1em 4em 1em;
  text-align: center;
}

.single-post .blog-more-wrapper .blog-more > h2 {
  color: #eeeeee;
  font-size: 3em;
  font-weight: bold;
}

.single-post .blog-more-wrapper .blog-more > h2:after {
  background-color: goldenrod;
  content: '';
  display: block;
  height: 5px;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.single-post .blog-more-wrapper .blog-more .flexslider {
  margin: 0 auto;
  max-width: 1000px;
}

.single-post .blog-more-wrapper .blog-more .flexslider .post-image {
  background-position: center;
  display: table;
  height: 500px;
  width: 100%;
}

.single-post .blog-more-wrapper .blog-more .flexslider .post-text {
  display: table-cell;
  vertical-align: middle;
}

.single-post .blog-more-wrapper .blog-more .flexslider .post-text .title {
  color: goldenrod;
  margin-bottom: 1em;
}

.single-post .blog-more-wrapper .blog-more .flexslider .post-text .button-white {
  padding: 0.75em 1.5em;
}

.single-post .blog-more-wrapper .blog-more .flexslider .flex-prev:before {
  color: #eeeeee;
  font-family: fontawesome;
  content: '\f0a8';
}

.single-post .blog-more-wrapper .blog-more .flexslider .flex-next:before {
  color: #eeeeee;
  font-family: fontawesome;
  content: '\f0a9';
}

.single-post pre {
  background-color: #222;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  line-height: normal;
  overflow-x: scroll;
  padding: 2em;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  text-align: left;
  white-space: pre;
}

.single-post pre .red {
  color: #ff5370;
}

.single-post pre .orange {
  color: #f78c6c;
}

.single-post pre .yellow {
  color: #ffcb6b;
}

.single-post pre .green {
  color: #c3e88d;
}

.single-post pre .blue {
  color: #82aaff;
}

.single-post pre .purple {
  color: #c792ea;
}

.page .page-content {
  margin: 4em 0 2em 0;
}

.page .page-content .page-title {
  font-weight: bold;
}

.no-route .no-route-container {
  display: table;
  height: 80vh;
  width: 100%;
}

.no-route .no-route-container .text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.no-route .no-route-container h2 {
  font-weight: bold;
}

.no-route .no-route-container .large {
  font-size: 12em;
  line-height: normal;
}

#sidebar {
  border: 1px solid #333333;
  float: right;
  margin: 2em 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #sidebar {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  #sidebar .categories {
    background-color: #eeeeee;
  }
}

#sidebar .categories .title {
  background-color: #cccccc;
  border-bottom: 1px solid #333333;
  display: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

@media screen and (min-width: 768px) {
  #sidebar .categories .title {
    display: block;
  }
}

#sidebar .categories .title.mobile {
  background-color: #eeeeee;
  border: none;
  display: block;
}

@media screen and (min-width: 768px) {
  #sidebar .categories .title.mobile {
    display: none;
  }
}

#sidebar .categories .title.mobile:hover {
  cursor: pointer;
}

#sidebar .categories .title.mobile .icon-container {
  background-color: #cccccc;
  border-radius: 50%;
  float: right;
  height: 35px;
  margin-top: 6px;
  right: 1em;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  width: 35px;
}

#sidebar .categories .title.mobile .icon-container.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

#sidebar .categories .title.mobile .icon-container .fa {
  display: inline-block;
  font-size: 0.7em;
  left: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: top;
}

#sidebar .categories .categories-list {
  background-color: #e6e6e6;
  display: none;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  #sidebar .categories .categories-list {
    background-color: transparent;
    display: block;
  }
}

#sidebar .categories .categories-list .category-item a {
  color: #55accc;
  display: block;
  padding: 0.5em 1em;
}

#sidebar .categories .categories-list .category-item a:hover {
  background-color: #cccccc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/*# sourceMappingURL=rise.css.map */
