@import

        /* Vendor */
        'vendor/reset',

        /* Mixis */
        'mixins/mixins',

        /* Keyframes */
        'keyframes/keyframes',

        /* Core */
        'core/colors',
        'core/settings',
        'core/typography',
        'core/cta',

        /* Pages */
        'pages/body',
        'pages/header',
        'pages/footer',
        'pages/homepage',
        'pages/blog',
        'pages/archive',
        'pages/single',
        'pages/404',
        'pages/sections/sidebar';