.blog {
    margin: 2em 0;

    @media screen and (min-width: $medium-break) {

        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }

    .banner {
        @include full-width;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/yosemite.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        display: table;
        height: 40vh;
        overflow: hidden;

        .banner-title {
            animation: fade-in 1s ease 1s forwards;
            color: $off-white;
            display: table-cell;
            font-size: 12vw;
            opacity: 0;
            position: relative;
            text-align: center;
            vertical-align: middle;

            @media screen and (min-width: $medium-break) {
                font-size: 6vw;
            }
        }
    }

    .posts-container {

        @media screen and (min-width: $medium-break) {
            margin: 0 -1em;
            width: 73%
        }

        .post {
            margin: 2em 0;

            @media screen and (min-width: $medium-break) {
                display: inline-block;
                float: left;
                position: relative;
                width: 50%;
            }

            .post-content {

                @media screen and (min-width: $medium-break) {
                    height: 100%;
                    padding: 0 1em;
                }
            }

            .post-image {

                @media screen and (min-width: $medium-break) {
                    display: block;
                }

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            .post-text {

                @media screen and (min-width: $medium-break) {
                    border-bottom: 1px solid $light-gray;
                    display: block;
                    padding-bottom: 3em;
                    position: relative;
                }

                .title {
                    font-size: 2em;
                    font-weight: bold;
                    line-height: normal;
                    margin: 0.25em 0;

                    a {
                        color: $dark-gray;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                .meta {
                    font-size: 0.75em;
                    margin-bottom: 1em;

                    .divider {
                        margin: 0 0.5em;
                    }

                    .post-categories {
                        display: inline-block;

                        li {
                            display: inline;
                            padding: 0 0.15em;
                        }
                    }
                }

                .content {
                    margin-bottom: 1em;
                }
            }

            .button-blue {

                @media screen and (min-width: $medium-break) {
                    bottom: 0;
                    margin-bottom: 1em;
                    position: absolute;
                }
            }
        }
    }
}