/*
* General Body Styles
*/

.body-wrapper {
    position: relative;
    right: 0;
    transition: 0.5s right ease;

    &.slide {
        right: 50%;
        transition: 0.5s right ease;
    }
}

#maincontent {
    margin: 0 auto;
    max-width: $max-width;
}