/* 
* Footer
*/

#footer {
    background-color: $dark-gray;
    box-shadow: inset 0 0 30px $black;
    padding: 2em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;

    .footer-container {
        @include max-width-center;
        background-color: $dark-gray-darken;
        box-shadow: 0 0 30px $black;
        padding: 2em 1em;
        text-align: center;
    }

    .title {
        border-bottom: 5px solid $gold;
        border-top: 5px solid $gold;
        display: table;
        line-height: normal;
        margin: 0 auto;
        text-align: center;

        a {
            color: $off-white;
        }
    }

    p {
        color: $off-white;
        margin: 1em 0;
    }

    .icon-wrapper {

        .icon-container {
            background-color: $blue;
            border-radius: 50%;
            display: inline-block;
            height: 65px;
            margin: 0 1em;
            transition: 0.4s background-color ease;
            width: 65px;

            &:hover {
                background-color: $gold;
                transition: 0.4s background-color ease;
            }

            i {
                color: $black;
                font-size: 3em;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}