/* 
* Header
*/

#header {
    background-color: $dark-gray;

    .header-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $max-width;
        padding: 0.5em 1em;

        .title {
            border-bottom: 5px solid $gold;
            border-top: 5px solid $gold;
            color: $off-white;
            line-height: normal;
            text-align: center;

            a {
                color: $off-white;
            }
        }
    }

    .menu {

        li {
            display: inline-block;

            a {
                color: $off-white;

                &:hover {
                    color: $blue;
                }
            }

            &:not(:first-child) {

                a {
                    padding-left: 0.5em;
                }
            }

            &:not(:last-child) {
                a {
                    padding-right: 0.5em;
                }
            }
        }
    }

    .desktop-menu {
        display: none;

        @media screen and (min-width: $medium-break) {
            display: block;
        }
    }

    .mobile-toggle {
        color: $gold;
        font-size: 2em;
        transition: 0.4s ease;

        &:hover {
            color: $blue;
            cursor: pointer;
            transition: 0.4s ease;
        }

        @media screen and (min-width: $medium-break) {
            display: none;
        }
    }
}

#mobile-nav {
    background-color: $dark-gray;
    box-shadow: inset 0 0 50px 0;
    height: 100vh;
    padding: 2em 0;
    position: fixed;
    right: -50%;
    text-align: center;
    top: 0;
    transition: 0.5s right ease;
    width: 50%;

    &.show {
        right: 0;
        transition: 0.5s right ease;
    }

    a {
        display: block;
        padding: 1em 0;
        transition: 0.4s background-color ease;

        &:hover {
            background-color: lighten($dark-gray, 10%);
            color: $gold;
            transition: 0.4s background-color ease;
        }
    }
}