/* 
* Header
*/

#header {
    background-color: $dark-gray;
    box-shadow: 0 0px 20px black;
    border-bottom: 2px solid $gold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &.animate {
        animation: header-slide-left 1s ease 1s forwards;
        opacity: 0;
    }

    .header-container {
        @include max-width-center;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em;

        .title {
            border-bottom: 5px solid $gold;
            border-top: 5px solid $gold;
            color: $off-white;
            font-weight: bold;
            line-height: normal;
            text-align: center;

            &.resized {
                border-width: 2px;
                font-size: 1em;
                transition: all 0.5s ease;
            }

            a {
                color: $off-white;
            }
        }
    }

    .menu {

        li {
            display: inline-block;

            a {
                color: $off-white;
                font-weight: bold;

                &:hover {
                    color: $blue;
                }
            }

            &:not(:first-child) {

                a {
                    padding-left: 0.5em;
                }
            }

            &:not(:last-child) {
                a {
                    padding-right: 0.5em;
                }
            }
        }
    }

    .desktop-menu {
        display: none;

        @media screen and (min-width: $medium-break) {
            display: block;
        }
    }

    .mobile-toggle {
        color: $gold;
        font-size: 2em;
        transition: 0.4s ease;

        &:hover {
            color: $blue;
            cursor: pointer;
            transition: 0.4s ease;
        }

        @media screen and (min-width: $medium-break) {
            display: none;
        }
    }

    #mobile-nav {
        display: none;
        padding: 1em;

        li {
            display: block;
        }

        a {
            display: table;
            padding: 0.5em 0;
        }
    }
}