.homepage {

    .homepage-landing {
        @include full-width;
        animation: fade-in 1s ease;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/kathryn.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        display: table;
        height: 100vh;
        overflow: hidden;

        .landing-title {
            animation: landing-fade-slide 1s ease 1s forwards;
            color: $off-white;
            display: table-cell;
            font-size: 8vw;
            opacity: 0;
            position: relative;
            text-align: center;
            vertical-align: middle;

            @media screen and (min-width: $medium-break) {
                font-size: 6vw;
            }
        }
    }

    .about-me-wrapper {
        @include full-width;
        background-color: $blue;
        padding: 2em 0;

        .about-me-container {
            @include clearfix;
            @include max-width-center;
            opacity: 0;
            transform: translateY(20%);

            &.show {
                opacity: 1;
                transform: translateY(0);
                transition: 1s ease;
            }

            h2 {
                color: $off-white;
                border-bottom: 5px solid $dark-gray;
                font-size: 3em;
                font-weight: bold;
                margin: 0 auto;
                max-width: 600px;
                text-align: center;
            }

            .content-wrapper {
                display: inline-block;
                float: left;
                margin: 2em 0;
                text-align: center;
                width: 100%;

                @media screen and (min-width: $medium-break) {
                    width: 33.3%;
                }
            }

            .icon-container {
                background-color: $dark-gray;
                border-radius: 50%;
                display: table;
                height: 125px;
                margin: 0 auto;
                text-align: center;
                width: 125px;

                i {
                    color: $off-white;
                    display: table-cell;
                    font-size: 5em;
                    vertical-align: middle;
                }
            }

            .text {
                color: $off-white;
                padding: 0 1em;

                h3 {
                    margin: 0.33em 0;
                }

                p {
                    text-align: left;
                }

            }
        }
    }

    .tools-container {
        @include full-width;
        background-color: $white;
        opacity: 0;
        padding: 2em 0;
        transform: translateX(-30%);

        &.show {
            opacity: 1;
            transform: translateX(0);
            transition: 1s ease;
        }

        h2 {
            @include max-width-center;
            border-bottom: 5px solid $blue;
            font-size: 3em;
            font-weight: bold;
            margin-bottom: 1em;
            max-width: 600px;
            text-align: center;
        }

        .tool-images {
            padding: 0 1em;

            .image-container {
                display: inline-block;
                margin: 2em 0;
                text-align: center;
                width: 49%;

                @media screen and (min-width: $medium-break) {
                    width: 24%;
                }

                img {
                    height: auto;
                    max-height: 250px;
                    max-width: 100%;
                    position: relative;
                    vertical-align: middle;
                }
            }
        }
    }
}