.home {

    .homepage-landing {
        @include full-width;
        animation: fade-in 1s ease;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/f14.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        display: table;
        height: 100vh;
        overflow: hidden;
        width: 100vw;

        .landing-title {
            animation: landing-fade-slide 1s ease 1s forwards;
            color: $off-white;
            display: table-cell;
            font-size: 8vw;
            opacity: 0;
            position: relative;
            text-align: center;
            vertical-align: middle;

            @media screen and (min-width: $medium-break) {
                font-size: 6vw;
            }
        }
    }

    .tools-container {
        background-color: $white;
        padding: 3em 2em;

        h2 {
            border-bottom: 5px solid $blue;
            border-top: 5px solid $blue;
            font-size: 3em;
            text-align: center;
        }

        .tool-images {

            .image-container {
                display: inline-block;
                margin: 2em 0;
                text-align: center;
                width: 49%;

                @media screen and (min-width: $medium-break) {
                    width: 24%;
                }

                img {
                    height: auto;
                    max-height: 250px;
                    max-width: 100%;
                    position: relative;
                    vertical-align: middle;
                }
            }
        }
    }
}