.single-post {
    margin-top: 4em;

    #sidebar {
        float: none;
        margin-top: 4em;
        width: 100%;
    }

    .post {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 2em 0;
        width: 100%;

        // @media screen and (min-width: $medium-break) {
        //     width: 73%;
        // }

        img {
            height: auto;
            max-width: 100%;
        }

        .title {
            font-weight: bold;
        }

        .meta {

            .post-categories {
                display: inline-block;

                li {
                    display: inline;

                    a {
                        padding: 0 0.15em;
                    }
                }
            }
        }

        .post-content {
            border-top: 1px solid $light-gray;
            margin-top: 1em;
            padding-top: 1em;

            .cp_embed_wrapper {
                margin: 1em 0;
            }

            h3 {
                font-size: 1.5em;
                margin-top: 1em;
            }

            p {
                margin: 1em 0;
            }

            hr {
                border-top: 1px solid $gold;
            }
        }
    }

    .blog-more-wrapper {
        @include full-width;
        background-color: $dark-gray-darken;

        .blog-more {
            margin: 0 auto;
            max-width: $max-width;
            padding: 2em 1em 4em 1em;
            text-align: center;

            & > h2 {
                color: $off-white;
                font-size: 3em;
                font-weight: bold;

                &:after {
                    background-color: $gold;
                    content: '';
                    display: block;
                    height: 5px;
                    margin-bottom: 1.5em;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 600px;
                }
            }

            .flexslider {
                margin: 0 auto;
                max-width: 1000px;

                .post-image {
                    background-position: center;
                    display: table;
                    height: 500px;
                    width: 100%;
                }

                .post-text {
                    display: table-cell;
                    vertical-align: middle;

                    .title {
                        color: $gold;
                        margin-bottom: 1em;
                    }

                    .button-white {
                        padding: 0.75em 1.5em;
                    }
                }

                .flex-prev {

                    &:before {
                        color: $off-white;
                        font-family: fontawesome;
                        content: '\f0a8';
                    }
                }

                .flex-next {

                    &:before {
                        color: $off-white;
                        font-family: fontawesome;
                        content: '\f0a9';
                    }
                }
            }
        }
    }

    pre {
        background-color: #222;
        color: $white;
        font-family: 'Source Code Pro', monospace;
        font-size: 16px;
        line-height: normal;
        margin: 1em 0;
        overflow-x: scroll;
        padding: 0 1em;
        tab-size: 4;
        text-align: left;
        white-space: pre;

        .red {
            color: #ef5350;
        }

        .orange {
            color: #f78c6c;
        }

        .yellow {
            color: #ffcb6b;
        }

        .green {
            color: #c3e88d;
        }

        .blue {
            color: #82aaff;
        }

        .purple {
            color: #c792ea;
        }

        .gray {
            color: #777;
        }

        span {
            font-family: 'Source Code Pro', monospace;
        }
    }
}