/*
* Mixins
*/

@mixin full-width {
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
}

@mixin clearfix {

    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin max-width-center {
    margin: 0 auto;
    max-width: $max-width;
}